.button{
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: #1976D2;
    color: #333;
    padding: 0.5rem 1.2rem;
    min-width: 8rem;
    box-sizing: border-box;
    transition: 0.1s;
}

.button:hover,
.button:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgb(32, 82, 182), 0 0 0 4px rgb(167, 186, 250);
}

.button:disabled{
    opacity: 0.5;
    cursor: wait;
}