.wrapper{
    margin-bottom: 1rem;
    
}

.input{
    border: 1px solid #dfdada;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
    background: #eee;
    transition: 0.1s;
}


.input:hover,
.input:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgb(167, 186, 250), 0 0 0 4px rgb(32, 82, 182);
}

.label{
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 0.5rem;
}

.error{
    color: red;
    font-size: .875rem;
    margin-top: .25rem;
}